@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #022f98;
  --secondary-color: #52b4f5;
}

body {
  font-family: sans-serif;
}

.heading1 {
  @apply text-secondary text-3xl md:text-4xl  font-bold;
}

.myContainer {
  @apply max-w-[75%] sm:max-w-[80%] md:max-w-[90%] xl:max-w-[75%] mx-auto;
}
