@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #022f98;
  --secondary-color: #52b4f5;
  --secondary-color-hover: #2ea0ec;
}

body {
  font-family: sans-serif;
}

.heading1 {
  @apply text-primary text-3xl md:text-4xl font-semibold;
  font-family: "Poppins";
  background: linear-gradient(45deg, #022f98 34%, #1672a7 69%, #52b4f5 68%);
  background-clip: text;
  color: transparent;
}

.myContainer {
  @apply max-w-[75%] sm:max-w-[80%] md:max-w-[90%] xl:max-w-[75%] mx-auto;
}

.currency {
  @apply text-slate-500 text-sm;
}

.custom-btn {
  @apply bg-secondary hover:bg-secondaryHover text-white;
}

.customInput {
  @apply border border-blue-200  rounded-xl focus:border-secondary focus:outline-none text-gray-900 text-sm   p-2.5;
}
